{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
</br>
<h3 align="center">Edit profile: {{ data.username }}</h3>
</br>
<div class="row justify-content-center">
    {% if data.user_type == 3 %}
    <form class="form" action="/employee_edit_profile" method="POST" style="width: 500px;">
    {% elif data.user_type == 2 %}
    <form class="form" action="/manager_edit_profile" method="POST" style="width: 500px;">
    {% else %}
    <form class="form" action="/admin_edit_profile" method="POST" style="width: 500px;">
    {% endif %}
        <div class="form-group">
            <label for="username">Username</label>
             <input type="text" class="form-control" id="username" name="username" value="{{ data.username }}" required />
            <label for="first_name">Firstname</label>
             <input type="text" class="form-control" id="first_name" name="first_name" value="{{ data.first_name }}" />
            <label for="last_name">Lastname</label>
             <input type="text" class="form-control" id="last_name" name="last_name" value="{{ data.last_name }}" />
            <label for="user_type"></label>
             <input type="hidden" name="current_user_type" value="{{ data.user_type }}">
            <label for="password">Password</label>
             <input type="password" class="form-control" id="password" name="password" value="" required />
            <label for="confirm_password">Confirm Password</label>
             <input type="password" class="form-control" id="password" name="confirm_password" value="" required />
        </div>
        
        <button type="submit" class="btn btn-primary" >Update</button>
        
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}