{% extends "base.html" %}
{% block title %}Scan Attendance{% endblock %}
{% block content %}
</br>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form method="POST" class="form">
          <h3 class="text-center">Scan Attendance</h3>
          <div class="form-group">
            <label for="card_id">Card ID</label>
            <input type="password" class="form-control" id="card_id" name="card_id" placeholder="Scan your card here" required>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
</div>

<script>
  window.onload = function() {
    document.getElementById('card_id').focus();
  };
</script>
{% endblock %}